// lineitem-card is a horizontal card
.lineitem-card {
  flex-direction: row;

  img {
    height: 5rem;
  }

  .lineitem-quantity {
    width: 3rem;
  }

  // change card-footer border style to match horizontal card.
  .card-footer {
    border-top: none;
    border-left: $card-border-width solid $card-border-color;
    &:last-child {
      @include border-radius(0 $card-border-radius-inner $card-border-radius-inner 0);
    }
  }
}
