.product-gallery-fullsizes img {
  width: 100%;
}

.product-gallery-thumbnails{
  margin-bottom: 2rem;

  img {
    transition: all 300ms ease;
  }

  .slick-center img {
    transform: scale(1.23)
  }
}
