<form id="paymentDetailForm" @submit.prevent="saveFormHandler">
  <div v-if="creditCard">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="cardholder-name"> {{ $t('payment.cardholder_name') }}* </label>
          <input class="form-control" type="text" placeholder="Will Smith" id="cardholder-name" v-model="creditCard.cardholderName"
            required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="number"> {{ $t('payment.credit_card_number') }}* </label>
          <input class="form-control" type="number" id="number" v-model="creditCard.number" required>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="cvv"> {{ $t('payment.security_code') }}* </label>
          <input class="form-control" type="number" id="cvv" v-model="creditCard.cvv" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="month"> {{ $t('payment.expiration_month') }}* </label>
          <input class="form-control" type="number" placeholder="MM" id="month" v-model="creditCard.expirationMonth" required>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="year"> {{ $t('payment.expiration_year') }}* </label>
          <input class="form-control" type="number" placeholder="YYYY" id="year" v-model="creditCard.expirationYear"
            required>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <!-- use col-md-12 to left-align buttons -->
    <div class="col-md-12">
      <button type="button" class="btn btn-info" @click="cancelFormHandler">
        {{ $t('common.cancel') }}
      </button>
      <LoadingButton type="submit" class="btn btn-primary" :loading="saving">
        {{ $t('common.save') }}
      </LoadingButton>
    </div>
  </div>
</form>
