<div v-if="payments">
  <div class="alert alert-danger mt-2" role="alert" v-if="errorMessage">
    {{ errorMessage }}
  </div>

  <button class="btn btn-primary" @click="clickAddCreditCardHanlder">
    <b>+</b> {{ $t('payment.add_credit_card') }}
  </button>

  <template v-if="showPaymentList">
    <PaymentList :payments="payments"
      @defaultChanged="defaultChangedHandler"
      @deletePayment="deletePaymentHandler">
    </PaymentList>
  </template>

  <template v-else>
    <CreditCard :saving="savingNewCard" @addCreditCard="addCreditCardHanlder"
      @cancelAddCreditCard="cancelAddCreditCardHandler">
    </CreditCard>
  </template>

  <ConfirmDialog :show="showConfirmChangeDefault"
    :message="$t('payment.confirm_select')"
    @confirmYes="confirmYesChangeDefaultHandler"
    @confirmNo="confirmNoChangeDefaultHandler">
  </ConfirmDialog>

  <ConfirmDialog :show="showConfirmDeletePayment"
    :message="$t('payment.confirm_delete')"
    @confirmYes="confirmYesDeletePaymentHandler"
    @confirmNo="confirmNoDeletePaymentHandler">
  </ConfirmDialog>
</div>
