<div>
  <div class="gallery">
    <img :src="currentImg"/>
  </div>

  <swiper class="thumbnail" :options="thumbnailOptions" ref="thumbnail">
    <swiper-slide v-for="slide in slides" :key="slide.href">
      <img :src="slide.href" @click="currentImg = slide.href" :class="{ 'slide-selected': currentImg === slide.href }"/>
    </swiper-slide>
    <div class="swiper-navigation swiper-button-prev swiper-button-white" slot="button-prev"></div>
    <div class="swiper-navigation swiper-button-next swiper-button-white" slot="button-next"></div>
  </swiper>
</div>
