@import "~src/styles/init";

.category-btn {
  border-radis: 0;
  background-color: $gray-lightest;
  padding: 10px 20px;
  color: $gray;
  display: inline-block;
  text-decoration: none !important;

  &:hover,
  &:active {
    background-color: $gray-lighter;
  }
}
