<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- set viewport and ie render engine for bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- google platform library -->
    <script src="https://apis.google.com/js/api:client.js"></script>

    <title>customer_web</title>

    <% if (apiServerAddr) { %>
      <script>var apiServerAddr="<%=apiServerAddr%>"</script>
    <% } %>
  </head>
  <body>
    <!-- facebook sdk -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1790716731178094',
          xfbml      : true,
          version    : 'v2.8'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
