<div class="container">
  <div class="row">
    <div class="col-md-6">

      <Gallery></Gallery>

    </div>
    <div class="col-md-6">
      <ProductInfo v-if="product && variant" :product="product" :variant="variant"></ProductInfo>

      <VariantSelector
        v-if="computedAttributes"
        :computedAttributes="computedAttributes"></VariantSelector>

      <!-- TODO: implement this after cart finished. -->
      <button class="btn btn-lg btn-lg btn-block">{{ $t('product.addToCart') }}</button>
    </div>
  </div>
</div>
