<form class="sign-in-modal" ref="signInForm" @submit.prevent="submitSignIn">
  <ModalDialog :title="$t('header.sign_in')" :show="showSignIn" @hide="hideSignIn()">

    <div slot="body">
      <div class="row">

        <div class="col-xs-12" v-if="signinFeedback">
          <div class="alert alert-danger" role="alert">{{ signinFeedback }}</div>
        </div>

        <div class="col-md-6">
          <g-signin-button
            v-if="googleLoginIsReady"
            class="btn btn-lg btn-block btn-danger sign-in-modal__social-login"
            :params="googleSignInParams"
            @success="onGoogleSignIn"
            @error="onGoogleSignInError">
            Google
          </g-signin-button>
        </div>

        <div class="col-md-6">
          <FacebookBtn
            v-if="facebookLoginIsReady"
            class="sign-in-modal__social-login"
            @signIn="onFacebookSignIn"
            @error="onFacebookSignInError"></FacebookBtn>
        </div>

      </div>
      <hr>

      <div class="form-group" :class="{ 'has-danger': passwordFeedback }">
        <label for="sign-in-email">{{ $t('form.email_address') }}</label>
        <input type="email" class="form-control" id="sign-in-email" v-model="email" required>
      </div>

      <div class="form-group" :class="{ 'has-danger': passwordFeedback }">
        <label for="sign-in-pwd">{{ $t('form.password') }}</label>
        <input type="password" class="form-control" id="sign-in-pwd" v-model="pwd" required>
        <div class="form-control-feedback" v-if="passwordFeedback">{{ passwordFeedback }}</div>
      </div>

    </div>

    <div slot="footer">
      <button type="button" class="btn btn-link text-muted" @click="goForgotPwd">{{ $t('form.forgot_pwd') }}</button>
      <button type="button" class="btn btn-link" @click="goSignUp">{{ $t('header.sign_up') }}</button>
      <button type="submit" class="btn btn-primary">{{ $t('header.sign_in') }}</button>
    </div>

  </ModalDialog>
</form>
