<div class="card lineitem-card">
  <div class="lineitem-card__image-wrapper">
    <img :src="image" class="lineitem-card__image">
  </div>

  <div class="card-block">
    <h6 class="card-title">{{ $t(lineItem.name) }}</h6>
    <p class="card-text"><small class="text-muted">{{ price }}</small></p>
    <div class="form-inline">
      <input
        name="quantity"
        class="form-control form-control-sm lineitem-quantity"
        type="number"
        :value="lineItem.quantity"
        @input="handleChangeQuantity">
    </div>
  </div>

  <div class="card-footer text-muted">
    <a href="#" @click.prevent="$emit('removeLineItem', { lineItemId: lineItem.id })">&times;</a>
  </div>
</div>
