<div class="card lineitem-card">
  <img class="card-img" src="http://lorempixel.com/300/300/" alt="Card image cap">
  <div class="card-block">
    <h6 class="card-title">Product Name - Color: Black, Size: Big</h6>
    <p class="card-text"><small class="text-muted">$ 10.00</small></p>
    <div class="form-inline">
      <button class="btn btn-secondary">&minus;</button>
      <input class="form-control" type="number" value="1">
      <button class="btn btn-success">&plus;</button>
    </div>
  </div>
  <button class="btn lineitem-cart-remove">&times;</button>
</div>