<div class="card lineitem-card">

    <div class="row">
      <div class="col-xs-3">
        <img src="http://lorempixel.com/300/300/" alt="Card image cap">
      </div>

      <div class="col-xs-6">
        <h6 class="card-title">{{ $t(lineItem.name) }}</h6>
        <p class="card-text"><small class="text-muted">{{ price }}</small></p>
        <div class="form-inline">
          <input
            name="quantity"
            class="form-control form-control-sm lineitem-quantity"
            type="number"
            :value="lineItem.quantity">
        </div>
      </div>

      <div class="col-xs-3">
        <button class="btn lineitem-cart-remove">&times;</button>
      </div>
    </div>

</div>
