/*
 * this file is for override bootstrap default variables, and defined new custom variables.
 */

// Custom variables

$header-height: 3.5rem;

$footer-height: 4rem;
$footer-background-color: $gray-lightest;
