@import "variables";

.navbar {
  min-height: 3.5rem;

  @include media-breakpoint-down("xs") {
    .navbar-toggleable-xs {
      clear: both;
    }
  }
}

.content-wrapper {
  padding-top: 3.5rem;

  // to make the footer float to bottom, work with .footer line-height
  // 1. set content occupy whole height
  // 2. set bottom padding and margin to leave space for footer
  min-height: 100vh;
  padding-bottom: $footer-height;
  margin-bottom: -$footer-height;
}

.footer {
  // match the padding-bottom
  line-height: $footer-height;

  background-color: $footer-background-color;

  p {
    margin: 0;
  }
}
