.navbar {
  min-height: 3.5rem;

  @include media-breakpoint-down("xs") {
    .navbar-toggleable-xs {
      clear: both;
    }
  }
}

.content-wrapper {
  padding-top: 3.5rem;
  padding-bottom: 4rem;
  min-height: 100vh;
  margin-bottom: -4rem;
}

.footer {
  line-height: 4rem;
  background-color: #f5f5f5;

  p {
    margin: 0;
  }
}
