<table id="addressList" class="table table-striped table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <!-- the col-xx-y doesn't work here, use width style -->
      <th style="width:20%">Full Name</th>
      <th style="width:60%">Address</th>
      <th style="width:6%">Default</th>
      <th style="width:7%">Update</th>
      <th style="width:7%">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="addr in addresses">
      <td>{{ addr.fullName }}</td>
      <td>{{ buildAddressStr(addr) }}</td>
      <td>
        <input type="radio" name="isDefault" :checked="addr.id == defaultAddressId" @click.once.stop="changeDefault(addr.id)">
      </td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" @click.once.stop="updateAddress(addr)">
          Update
        </button>
      </td>
      <td><button type="button" class="btn btn-danger btn-sm">Delete</button></td>
    </tr>
  </tbody>
</table>