<div>
  <template v-if="addresses && addresses.length">
    <div class="row">
      <div class="col-4" v-for="addr in addresses">
        <div class="card my-2">
          <div class="card-block">
            
            <template v-if="addr.id === defaultAddressId">
              <i class="fa fa-check-square-o" aria-hidden="true"></i>
            </template>
            <template v-else>
              <i class="fa fa-square-o" aria-hidden="true" @click.prevent="changeDefault(addr.id)"></i>
            </template>

            <i class="fa fa-pencil-square-o mx-1" aria-hidden="true" @click.prevent="updateAddress(addr)"></i>
            <i class="fa fa-times mx-1" aria-hidden="true" @click.prevent="deleteAddress(addr.id)"></i>
            <br /> 

            {{ addr.fullName + " " + addr.phone}} <br /> 
            {{ addr.firstLine }} <br /> 
            <template v-if="addr.secondLine">
            {{ addr.secondLine }}  <br /> 
            </template>
            {{ addr.city + (addr.state ? ("," + addr.state) : "")}} <br /> 
            {{ addr.country + " " + (addr.zipcode ? addr.zipcode : "") }} <br />

          </div>
          <!-- div card-block -->

        </div>
        <!-- div card -->

      </div>
      <!-- div v-for -->
    </div>
    <!-- div row -->
  </template>
  <template v-else>
    {{ $t('customer.no_address') }}
  </template>
</div>