<table id="addressList" class="table table-striped table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <!-- the col-xx-y doesn't work here, use width style -->
      <th style="width:20%">{{ $t('customer.address_full_name') }}</th>
      <th style="width:60%">{{ $t('customer.address_address') }}</th>
      <th style="width:6%">{{ $t('customer.address_default') }}</th>
      <th style="width:7%">{{ $t('common.update') }}</th>
      <th style="width:7%">{{ $t('common.delete') }}</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="addr in addresses">
      <td>{{ addr.fullName }}</td>
      <td>{{ buildAddressStr(addr) }}</td>
      <td>
        <input type="radio" name="isDefault" :checked="addr.id == defaultAddressId" @click.prevent="changeDefault(addr.id)">
      </td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" @click.stop="updateAddress(addr)">
          {{ $t('common.update') }}
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-danger btn-sm" @click.stop="deleteAddress(addr.id)">
          {{ $t('common.delete') }}
        </button>
      </td>
    </tr>
  </tbody>
</table>
