<div class="container">
  <div class="row flex-items-middle">
    <div :class="isEmpty ? 'col-md-12' : 'col-md-8'">
      <a href="javascript:void(0)" @click="$router.back()">&lt; {{$t('cart.back_to_shopping')}}</a>
      <hr>

      <LineItem
        v-if="!isEmpty"
        v-for="lineItem of cart.lineItems"
        :lineItem="lineItem"
        @changeQuantity="changeQuantity"
        @removeLineItem="removeLineItem"></LineItem>

      <h5 v-if="isEmpty">{{ $t('cart.empty') }}</h5>

    </div>
    <div v-if="!isEmpty" class="col-md-4">

      <OrderSummary :subTotal="subTotal"></OrderSummary>

      <div class="btn btn-block btn-success">{{ $t('cart.checkout') }}</div>

    </div>
  </div>
</div>