<form ref="signUpForm" @submit.prevent="submitSignUp">
  <ModalDialog :title="$t('header.sign_up')" :show="showSignUp" @hide="hideSignUp()">

    <div slot="body">
      <div class="form-group" :class="{ 'has-danger': usernameFeedback }">
        <label for="signUp-email">{{ $t('form.email_address') }}</label>
        <input ref="email" @change="checkFormValidity()" type="email" class="form-control" id="signUp-email" v-model="email" required>
        <div class="form-control-feedback" v-if="usernameFeedback">{{ usernameFeedback }}</div>
      </div>

      <div class="form-group">
        <label for="signUp-pwd">{{ $t('form.password') }}</label>
        <input ref="pwd" @change="checkFormValidity()" type="password" class="form-control" id="signUp-pwd" v-model="pwd" required>
      </div>

      <div class="form-group"  :class="{ 'has-danger': passwordFeedback }">
        <label for="signUp-repeat-pwd">{{ $t('form.repeat_pwd') }}</label>
        <input ref="rpwd" @change="checkFormValidity()" type="password" class="form-control" id="signUp-repeat-pwd" v-model="repeatPwd" required>
        <div class="form-control-feedback" v-if="passwordFeedback">{{ passwordFeedback }}</div>
      </div>
    </div>

    <div slot="footer">
      <button type="button" class="btn btn-link" @click="goLogin">{{ $t('header.login') }}</button>
      <VueLadda class="btn btn-primary" :loading="signUpLoading">{{ $t('header.sign_up') }}</VueLadda>
    </div>

  </ModalDialog>
</form>
