<div v-if="order" class="row">
  <div class="col-6">
    <h5>{{ $t('order.order_info') }}</h5>
    <hr>
    <strong>{{ $t('order.order_status') }}:</strong> {{ orderStatus }}
    <br>
    <strong>{{ $t('order.order_price') }}:</strong> {{ totalPrice }}
  </div>

  <div class="col-6">
    <h5>{{ $t('order.ship_to') }}</h5>
    <hr>
    <AddressCard class="my-3" :addr="order.shippingAddress"></AddressCard>
  </div>

  <div class="col-12">
    <h5>{{ $t('order.shipped_items') }}</h5>
    <hr>
    <LineItemDisplay v-for="lineItem in order.lineItems" :lineItem="lineItem" :key="lineItem.id"></LineItemDisplay>
  </div>
</div>
