@import "~src/styles/init";

.the-header {
  min-height: $header-height;

  // Float layout for drop menu.
  @include media-breakpoint-down("xs") {
    .navbar-toggleable-xs {
      clear: both;
    }
  }

  .language-selector {
    width: 6em;
  }
}
